section.tweets-dash {
  background-color: white;
  border: solid lightgray 1px;
  border-radius: 5px;
  margin: 1em 2em 0 2em;
  overflow: hidden;
}

article.tweet header {
  background-color: #f4f4f4;
  border-bottom: solid lightgray 1px;
  overflow: auto;
  padding: 0.75em;
}

article.tweet header img.avatar {
  border-radius: 5px;
  float: left;
  height: 60px;
  width: 60px;
}

article.tweet header h2 {
  float: left;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
}

article.tweet header h4 {
  color: darkgray;
  display: inline-block;
  float: right;
  font-size: 0.75em;
  font-weight: normal;
  margin: 0;
  padding-top: 10px;
}

article.tweet footer {
  border-top: solid lightgray 1px;
  font-size: 12px;
  padding: 10px 5px 10px 5px;
}

article.tweet footer div.icons {
  float: right;
  opacity: 0;
}

article:hover footer div.icons {
  opacity: 1;
}

article.tweet p {
  margin: 0;
  padding: 2em 1em 2em 1em;
}

